/* fonts */
@font-face {
    font-family: ArchivoExpandedBold;
    src: url(Archivo_Expanded-Bold.ttf) format("truetype");
}

@font-face {
    font-family: ArchivoRegular;
    src: url(Archivo-Regular.ttf) format("truetype");
}

@font-face {
    font-family: ArchivoSemiBold;
    src: url(Archivo-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: DaysOne;
    src: url(DaysOne-Regular.ttf) format("truetype");
}

/* nav bar */

.nav-bar-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0
}

@media (max-width:1050px) {
    .nav-bar-container {
        display: none;
    }
}

.nav-bar {
    width: 100%;
    overflow: hidden;
    color: #fff !important;
    display: flex;
    background: #FFFFFF;
    height: 96px;
    align-items: center;
    justify-content: space-between;
}

.nav-bar:before, .nav-bar:after {
    content: "";
    display: table;
    clear: both;
}

.nav-bar-link {
    color: #000000;
    text-decoration: none;
    font-family: DaysOne;
}

.nav-item {
    margin-left:8px;
    margin-right:8px;
}

.nav-bar-social-link-container {
    height: 33%;
    display: flex;
    justify-content: space-between;
    width: 8%;
}

.nav-bar-social-link-icon, .faq-footer-social-icon {
    height: 100%;
}

.logo-container {
    height: 36%;
    width: 12%
}

.nav-logo {
    height: 100%;
}

.desktop-nav-link-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

/* mobile nav bar */

.mobile-nav-bar-container {
    overflow: hidden;
    background-color: #FFFFFF;
    position: relative;
    height: 72px;
    display: flex;
    justify-content: space-between;
}

.mobile-nav-bar-container a {
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

@media (min-width:1051px) {
    .mobile-nav-bar-container {
        display: none;
    }
    .mobile-ship-part {
        display: none;
    }
}

/* Mobile nav extended */

.mobile-extended-nav {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

.mobile-extended-nav-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.mobile-extended-nav-link {
    font-family: ArchivoExpandedBold;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.mobile-extended-nav .closebtn {
    position: absolute;
    top: -22px;
    right: 0;
    font-size: 60px;
}

.palm-tree-logo {
    width: 100%;
}

.mobile-nav-menu-divider {
    width: 87%;
    border-color: #E4E4E4;
}

.mobile-nav-extended-footer-content-container {
    display:flex; 
    justify-content: center;
}

.mobile-nav-extended-footer-content {
    font-family: DaysOne;
    letter-spacing: 3px;
    color: #666666;
    font-size: 8px;
}

.mobile-nav-extended-footer-content-email {
    font-family: DaysOne;
    letter-spacing: 3px;
    color: #B24D6E;
    font-size: 8px;
    text-decoration: none;
}

.expanded-nav-logo-container {
    display:flex;
    justify-content: space-evenly;
}

.expanded-nav-footer {
    padding-top:85px
}

.mobile-palm-tree-icon-container {
    width: 45px;
    padding-top: 10px;
    padding-left: 10px;
}
/* background image section */

.main-background {
    position: relative;
    display: block;
}

.background-image {
    width: 100%;
}

.bayside-logo-on-background {
    position: absolute;
    top: 30%;
    width: 84%;
    left: 50%;
    margin-left: -42%;
}

.enter-logo {
    position: absolute;
    bottom: 10%;
    width: 20%;
    left: 50%;
    margin-left: -10%
}

.down-triangle {
    position: absolute;
    bottom: 5%;
    width: 8%;
    left: 50%;
    margin-left: -4%
}

/* main section */

.main-content-container {
    margin-left: auto;
    margin-right: auto;
}

/* sub section */

.shiprekt-content {
    font-family: ArchivoRegular;
    font-size: 19px;
    color: #FFFFFF;
    padding-left: 6%;
    padding-right: 6%;
}

.shiprekt-content-header {
    font-family: ArchivoExpandedBold;
    font-style: italic;
    font-size: 55px;
    color: #F2F2F2;
    padding-left: 6%
}

.shiprekt-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.57) 15.97%, rgba(0, 0, 0, 0.168) 100%);
}

.section-header {
    font-family: ArchivoExpandedBold;
    text-decoration: underline;
    font-size: 60px;
}

.mobile-overview-section, .desktop-overview-section{
    position: relative
}

.owning-bayside-nft {
    padding-top: 25px;
    padding-bottom: 25px;
}

.origin-container {
    position: relative;
}

.origin-section {
    padding-bottom: 40%;
}

.mobile-ship-part, .desktop-ship-part {
    position: absolute;
    bottom: 0;
}

.origin-header {
    text-decoration-color: #5979B0;
}

.residents-header {
    text-decoration-color: #BB4E7B;
    line-height: 63px;
    font-size: 51px;
}

.faq-header {
    text-decoration-color: #d7aac3;
}

.mission-text:first-child {
    padding-bottom: 30px;
}

.team-portrait {
    border-radius: 1000px;
    width: 60%;
}

.tester {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.57) 15.97%, rgba(0, 0, 0, 0.168) 100%),
    url("bayside-bar.png");
}

.section-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 6%;
    padding-right: 6%;
}

.section-container:after, .section-container:before {
    content: "";
    display: table;
    clear: both;
}

.mission-section {
    padding-bottom: 50px;
}

.team-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.team-row:after, .team-row:before {
    content: "";
    display: table;
    clear: both;
}

.team-member-col {
    float: left;
    width: 25%;
    text-align: center;
}

.team-member-name {
    font-family: ArchivoSemiBold;
    margin-bottom: 0;
}

.team-member-role {
    margin-top: 0;
    font-family: ArchivoRegular;
}

@media (max-width: 992px) {
    .team-member-col {
        width: 50%;
    }
}

.mission-text, .section-text {
    font-family: ArchivoRegular;
    font-size: 19px;
}

.mission-text {
    margin-top: 0;
    margin-bottom: 0;
}

.question-container {
    display:flex;
    justify-content:space-between;
}

#whatIsBaysideMiningAnswer, #earlyAccessAnswer, #discordAnswer, #upToDateAnswer{
    display: none;
}

.question-plus {
    align-items: center;
    display:flex; 
}

.question-minus {
    align-items: center;
    display: none;
}

.faq-link {
    text-decoration: none;
}

.faq-question {
    font-family: ArchivoExpandedBold;
    font-size: 20px;
}

.faq-divider {
    border-color: #A6A6A6;
}

.gradient-background {
    background: linear-gradient(270deg, rgba(158, 175, 203, 0.5) 0%, rgba(189, 197, 210, 0.364948) 52.6%, rgba(189, 197, 210, 0.360938) 60.42%, rgba(217, 217, 217, 0) 100%, #C8B9C6 100%);
}

.plus-minus {
    font-size:20px;
}

.desktop-footer-text {
    font-family: DaysOne;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2.5px;
}

.twitter-social-button-container {
    padding-top: 60px;
}

.twitter-social-bar-button {
    box-sizing: border-box;
    width: 308px;
    height: 64px;
    background: #FFFFFF;
    border: 2px solid #2E2E2E;
    color: #2E2E2E;
    border-radius: 35px;
    font-family: ArchivoExpandedBold;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.twitter-social-bar-button:hover {
    background: #2E2E2E;
    color: #FFFFFF;
}

.twitter-social-bar-button-icon-white {
    display: none;
}
.twitter-social-bar-button:hover .twitter-social-bar-button-icon-black {
    display: none;
}

.twitter-social-bar-button:hover .twitter-social-bar-button-icon-white {
    display: inline;
}

.twitter-social-bar-button-text {
    font-size: 14px;
    margin-top: 19px;
}

.twitter-social-bar-button-icon-black, .twitter-social-bar-button-icon-white{
    width: 20px;
    height: 16.5px;
    margin-top: 21px;
    margin-left: 10px;
}


/* footer */

.footer-container {
    text-align: center;
}

.footer-container:after, .footer-container:before {
    content: "";
    display: table;
    clear: both;
}

.section-solo-info {
    font-family: ArchivoExpandedBold;
    font-size: 22px;
}

.section-solo-info-center {
    font-family: ArchivoExpandedBold;
    font-size: 22px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-socials-container {
    background: linear-gradient(180deg, rgba(182, 150, 197, 0.4) 0%, rgba(162, 171, 199, 0.4) 100%);
    height: 158px;
}

.socials-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-family: DaysOne;
    padding-top: 30px;
    letter-spacing: 2px;
    color: #434343;
}

.footer-icon-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 29px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.footer-info-container {
    background: #F1F1F1;
    color: #666666;
}

.footer-info-content {
    padding-top: 45px;
    padding-bottom: 45px;
}

.social-link {
    height: 50px;
}

.social-link-icon {
    height: 100%;
}

/* generics */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: 0
}

footer {
    display: block;
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline-width: 0
}

b {
    font-weight: bolder
}

img {
    border-style: none
}

button {
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
}

html, body {
    font-size: 15px;
    line-height: 1.5
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

p.footer-info, a.footer-info {
    margin-top: 0;
    margin-bottom: 0;
    font-family: DaysOne;
    letter-spacing: 2px;
    font-size: 11px;
    text-decoration: none;
}

/* responsiveness */

@media (min-width:1051px) {
    .mobile-main-background {
        display: none;
    }

    .gradient-background.mission-section {
        background: linear-gradient(182.1deg, rgba(244, 217, 209, 0.7) 1.81%, rgba(218, 124, 96, 0) 126.06%);
        text-align: center;
    }

    .residents-section {
        background: #F9F9F9;
    }

    .enter-logo {
        position: absolute;
        bottom: 13%;
        width: 6%;
        left: 50%;
        margin-left: -3%
    }

    .down-triangle {
        position: absolute;
        bottom: 8%;
        width: 2%;
        left: 50%;
        margin-left: -1%
    }

    .nav-bar-container {
        position: relative;
    }

    .origin-container .gradient-background{
        background: linear-gradient(180deg, #BBCCE9 -40%, rgba(217, 217, 217, 0) 100%);
    }

    .mobile-ship-part {
        display: none;
    }

    .owning-bayside-nft {
        padding-top: 91px;
        padding-bottom: 91px;
        padding-left: 242px;
        padding-right: 242px;
        text-align: center;
    }

    .section-solo-info {
        font-family: ArchivoExpandedBold;
        font-size: 36px;
    }

    .section-solo-info-center {
        padding-top: 0;
        font-size: 36px;
        padding-left: 190px;
        padding-right: 190px;
    }

    .mission-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .mission-text {
        font-weight: bold;
    }

    .faq-section {
        background: linear-gradient(180deg, #FFEDD6 0%, rgba(217, 217, 217, 0) 100%);
    }

    .section-container.faq-section {
        padding-right: 41%;
    }

    .mobile-bayside-surfboard {
        display: none;
    }

    .desktop-bayside-surfboard {
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .faq-container {
        position: relative;
        height: 1450px;
    }

    .faq-header {
        padding-top: 100px;
        padding-bottom: 72px;
    }

    .mission-text {
        padding-left: 25%;
        padding-right: 25%;
        line-height: 32px;
        font-size: 22px;
    }

    .origin-section {
        padding-bottom: 32%;
    }

    .origin-header {
        padding-top: 75px;
    }

    .origin-section-text {
        font-size: 22px;
        font-weight: bold;
        padding-right: 43%;
    }

    .section-header {
        font-size: 69px;
    }

    .faq-footer-social-icon-container {
        padding-top: 20px;
        height: 38px;
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
    .mobile-overview-section {
        display: none;
    }
    .bayside-tree {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 685px;
    }
    .desktop-shiprekt-container {
        padding-left: 100px;
        padding-right: 50%;
    }

    .desktop-shiprekt-content-intro {
        font-family: ArchivoExpandedBold;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0.25px;
    }

    .desktop-shiprekt-content-header {
        font-style: normal;
        font-family: ArchivoExpandedBold;
        font-size: 100px;
        line-height: 50px;
        letter-spacing: 0.25px;
        color: #000000;
    }

    .desktop-shiprekt-content {
        font-family: ArchivoRegular;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.25px;
        color: #000000;
    }

    .residents-header {
        padding-top: 100px;
    }

    .footer-info {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media (max-width:1450px) {
    .bayside-tree {
        width: 42%;
    }
}
@media (min-width:1451px) {
    .bayside-tree {
        width: 36%;
    }
}

@media (min-width: 1550px) {
    .faq-container {
        height: 1600px;
    }
}

@media (min-width: 2200px) {
    .faq-container {
        height: 1800px;
    }
}

@media (max-width:1050px) {
    .desktop-main-background {
        display: none;
    }

    .desktop-ship-part {
        display: none;
    }

    .desktop-bayside-surfboard {
        display: none;
    }
    .desktop-overview-section {
        display: none;
    }
    .twitter-social-button-container {
        padding-left: 6%;
        padding-top: 30px;
    }
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}