/* fonts */
@font-face {
    font-family: ArchivoExpandedBold;
    src: url(Archivo_Expanded-Bold.ttf) format("truetype");
}

@font-face {
    font-family: ArchivoRegular;
    src: url(Archivo-Regular.ttf) format("truetype");
}

@font-face {
    font-family: ArchivoSemiBold;
    src: url(Archivo-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: DaysOne;
    src: url(DaysOne-Regular.ttf) format("truetype");
}

/* nav bar */

.nav-bar-container {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0
}

@media (max-width:1050px) {
    .nav-bar-container {
        display: none;
    }
}

.nav-bar.scrolled {
    background-color: #ff70c2 !important;
    transition: background-color 200ms linear;
}

.nav-bar {
    width: 100%;
    overflow: hidden;
    color: #fff !important;
    display: flex;
    justify-content: space-between;
}

.nav-bar:before, .nav-bar:after {
    content: "";
    display: table;
    clear: both;
}

.nav-button {
    background-color: #6D9EEB;
    color: #fff;
    border: 2px solid black;
    border-color: #595959;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor:pointer;
}

.nav-button {
    background-color: #6D9EEB;
    color: #fff;
    border: 2px solid black;
    border-color: #595959;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    cursor:pointer;
}

.nav-item {
    margin-left:8px;
    margin-right:8px;
}

.logo-container {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.nav-logo {
    max-width: 300px;
}

/* mobile nav bar */

.mobile-nav-bar-container {
    overflow: hidden;
    background-color: #FFFFFF;
    position: relative;
    height: 72px;
}

.mobile-nav-bar-container a {
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

@media (min-width:1051px) {
    .mobile-nav-bar-container {
        display: none;
    }
}

/* Mobile nav extended */

.mobile-extended-nav {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

.mobile-extended-nav-content {
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.mobile-extended-nav a {
    font-family: ArchivoExpandedBold;
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.mobile-extended-nav a:hover, .mobile-extended-nav a:focus { /* change this for hover color change */
    color: #000000;
}

.mobile-extended-nav .closebtn {
    position: absolute;
    top: -16px;
    left: 7px;
    font-size: 60px;
}

.mobile-extended-nav-logo {
    width: 24%;
    right: 12px;
    top: 20px;
    position: absolute;
}

.mobile-nav-menu-divider {
    width: 87%;
    border-color: #E4E4E4;
}

.mobile-nav-extended-footer-content-container {
    display:flex; 
    justify-content: center;
}

.mobile-nav-extended-footer-content {
    font-family: DaysOne;
    letter-spacing: 3px;
    color: #5979B0;
    font-size: 8px;
}

.mobile-nav-extended-footer-content-email {
    font-family: DaysOne;
    letter-spacing: 3px;
    color: #B24D6E;
    font-size: 8px;
}

.expanded-nav-logo-container {
    display:flex;
    justify-content: space-evenly;
}

.expanded-nav-footer {
    padding-top:85px
}

/* background image section */

.main-background {
    position: relative;
    display: block;
}

.background-image {
    width:100%;
}

.bayside-logo-on-background {
    position: absolute;
    top: 30%;
    width: 84%;
    left: 50%;
    margin-left: -42%;
}

.enter-logo {
    position: absolute;
    bottom: 10%;
    width: 20%;
    left: 50%;
    margin-left: -10%
}

.down-triangle {
    position: absolute;
    bottom: 5%;
    width: 8%;
    left: 50%;
    margin-left: -4%
}

/* main section */

.main-content-container {
    margin-left: auto;
    margin-right: auto;
}

/* sub section */

.overview-section {
    position:relative;
}

.shiprekt-content {
    font-family: ArchivoRegular;
    font-size: 19px;
    color: #FFFFFF;
    padding-left: 6%;
    padding-right: 6%;
}

.shiprekt-content-header {
    font-family: ArchivoExpandedBold;
    font-style: italic;
    font-size: 60px;
    color: #F2F2F2;
}

.shiprekt-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.57) 15.97%, rgba(0, 0, 0, 0.168) 100%);
}

.section-header {
    font-family: ArchivoExpandedBold;
    text-decoration: underline;
    font-size: 60px;
}

.origin-container {
    position: relative;
}

.ship-part {
    position: absolute;
    bottom: 0;
}

.origin-header {
    text-decoration-color: #5979B0;
}

.residents-header {
    text-decoration-color: #BB4E7B;
}

.faq-header {
    text-decoration-color: #d7aac3;
}

.team-portrait {
    border-radius: 1000px;
    width:60%;
}

.tester {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.57) 15.97%, rgba(0, 0, 0, 0.168) 100%),
    url("bayside-bar.png");
}

.section-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 6%;
    padding-right: 6%;
}

.section-container:after, .section-container:before {
    content: "";
    display: table;
    clear: both;
}

.team-row {
    /*padding-top: 32px !important;*/
    /*padding-bottom: 32px !important;*/
}

.team-row:after, .team-row:before {
    content: "";
    display: table;
    clear: both;
}

.team-member-col {
    float: left;
    width: 25%;
    text-align: center;
}

.team-member-name {
    font-family: ArchivoSemiBold;
    margin-bottom: 0;
}

.team-member-role {
    margin-top: 0;
    font-family: ArchivoRegular;
}

@media (max-width: 992px) {
    .team-member-col {
        width: 50%;
    }
}

.section-text {
    font-family: ArchivoRegular;
    font-size: 19px;
    font-weight: bold;
}

.question-container {
    display:flex;
    justify-content:space-between;
}

#whatIsBaysideMiningAnswer, #earlyAccessAnswer, #discordAnswer, #upToDateAnswer{
    display: none;
}

.question-plus {
    align-items: center;
    display:flex; 
}

.question-minus {
    align-items: center;
    display: none;
}

.faq-divider {
    border-color: #A6A6A6;
}

.gradient-background {
    background: linear-gradient(270deg, rgba(158, 175, 203, 0.5) 0%, rgba(189, 197, 210, 0.364948) 52.6%, rgba(189, 197, 210, 0.360938) 60.42%, rgba(217, 217, 217, 0) 100%, #C8B9C6 100%);
}

.plus-minus {
    font-size:20px;
}

/* footer */

.footer-container {
    text-align: center;
}

.footer-container:after, .footer-container:before {
    content: "";
    display: table;
    clear: both;
}

.section-solo-info {
    font-family: ArchivoExpandedBold;
    font-size: 22px;
}

.section-solo-info-center {
    font-family: ArchivoExpandedBold;
    font-size: 22px;
    text-align: center;
}

.footer-socials-container {
    background: linear-gradient(180deg, rgba(182, 150, 197, 0.4) 0%, rgba(162, 171, 199, 0.4) 100%);
    height: 158px;
}

.socials-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-family: DaysOne;
    padding-top: 30px;
    letter-spacing: 2px;
    color: #434343;
}

.footer-icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 29px;
}

.footer-info-container {
    background: #F1F1F1;
    color: #666666;
}

.footer-info-content {
    padding-top: 45px;
    padding-bottom: 45px;
}

/* generics */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: 0
}

footer {
    display: block;
    font-size: 24px;
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline-width: 0
}

b {
    font-weight: bolder
}

img {
    border-style: none
}

button {
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
}

html, body {
    /*font-family: Verdana, sans-serif;*/
    font-size: 15px;
    line-height: 1.5
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

p.footer-info {
    margin-top: 0;
    margin-bottom: 0;
    font-family: DaysOne;
    letter-spacing: 2px;
    font-size: 11px;
}


/* sandbox */

/* with a 360px width */
/* 20px padding on each side */



/* padding bottom for origin section is ~175px; */